{% extends "base.html" %}

{% block title_head %}
<title>About Me</title>
{% endblock title_head %}

{% block h1_header %}
¡Bienvenido!
{% endblock h1_header %}


{% block main %}
<div class="about-section">
    <h2 style="text-align:center">Proyecto final para el curso de Python del curso de Coderhouse.</h2>
    <br><br>
  </div>
  
  <h2 style="text-align:center">Acerca de mi</h2>
  <div class="row">
    <div class="column">
      <div class="card">

        <div class="container">
          <h2>Martín Franco</h2>
          <p class="title">Analista de Sistemas</p>
          <p>Mi nombre es Martín, soy de Santa Rosa, La Pampa y tengo 33 años. Me recibí de Analista de Sistemas en el año 2016, y actualmente trabajo
            en el área de informática en la Honorable Cámara de diputados de la Provincia de La Pampa. Soy programador hace más de 5 años y tengo conocimientos de lenguajes
            de php, javascript, entre otros. Estoy en curso de aprender a programar en python para poder mejorar mis conocimientos y poder dedicarme a esto full time en un futuro.
            En caso de querer contactarte conmigo por cuestiones laborales, mi e-email es el siguiente: </p>
          
          <h4>martinnfranco@gmail.com</h4>
        </div>
      </div>
    </div>
{% endblock main %}